#page-success {
  display: flex;
  min-height: 100vh;
  background: #37c77f;
  justify-content: center;
  align-items: center;
}

#page-success .done {
  width: 392px;
  margin-right: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-success .done h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}

#page-success .done p {
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin-top: 32px;
}

#page-success .done .map-button {
  width: 243px;
  height: 64px;
  margin-top: 60px;
  background: #31b272;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 18px;
}

#page-success .done .map-button:hover {
  background: #3bd689;
}
